@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

:root {
  --primary-color: #A259FF;
  --gradient: #A259FF, #3931F9, #FE3796;
  --neutral-dark: #121212;
  --white: #F5F7FA;
  --green: #52D377;
  --yellow: #FA9A2A;
  --red: #EE3232;
  --black-1: #1C1D21;
  --black-2: #1B1B1B;
  --black-gradient: #3B3E40, #101212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,button,input,textarea {
  font-size: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 2rem;
  letter-spacing: 0.015rem;
  color: white;
}

section, footer, nav {
  padding-inline: 100px;
}

body {
  padding-block: 50px;
  background-color: var(--black-1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 2.5rem;
}

.btn-purple {
  background-color: var(--primary-color);
}

#welcome-sec {
  min-height: 100vh;
  background-image: url(./assets/welcome-background.png);
}