@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
  --primary-color: #A259FF;
  --gradient: #A259FF, #3931F9, #FE3796;
  --neutral-dark: #121212;
  --white: #F5F7FA;
  --green: #52D377;
  --yellow: #FA9A2A;
  --red: #EE3232;
  --black-1: #1C1D21;
  --black-2: #1B1B1B;
  --black-gradient: #3B3E40, #101212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,button,input,textarea {
  font-size: 24px;
    font-family: 'Barlow', sans-serif;
  letter-spacing: 0.015rem;
  color: white;
}

a {
  color: currentColor;
  text-decoration: none;
  font-weight: bolder;
}

section, footer, nav {
  padding-inline: 100px;
}

body {
  background-color: var(--black-1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 2rem; left: 0; right: 0;
}

.navigation-list {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 2.5rem;
}

.btn-purple {
  background-color: var(--primary-color);
}

#welcome_section {
  min-height: 100vh;
  background: url(../public/assets/welcome-background.png) no-repeat,
              radial-gradient(10rem at 45% 95%, #a159ff7e, var(--black-1));
  background-size: auto 100vh;

  padding-inline: 160px;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 2rem;
}

.gapped_container > * {
  margin-top: 1rem;
}

.statistic_list {
  display: flex;
  gap: 1rem;
}